:root {
	box-sizing: border-box;

	--bg-hamburguer: #00223B;

	--texto-hamburguer: #FCF3F8;

	--fonte-nome: "Alice", serif;
	--fonte-data: "Open Sans", sans-serif;
	--fonte-nav: "Open Sans", sans-serif;
	--fonte-base: "Open Sans", sans-serif;

	--preto: #1a1a1a;
	--branco: #f0f0f0;
	--azul: rgba(0, 49, 82, 1);
	--rosa: #D17B8C;
}

@font-face {
	font-family: "Open Sans;";
	src: url("../assets/fontes/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "Alice";
	src:	url("../assets/fontes/Alice-Regular.ttf");
}

@font-face {
	font-family: "Cinzel";
	src:	url("../assets/fontes/Cinzel-VariableFont_wght.ttf");
}

body {
	font-family: var(--fonte-base);
	background-color: var(--azul);
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: white;
}

.esconder {
	display: none;
}
