* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Autopilot";
  src: url("../assets/fontes/Autopilot.ttf");
}

@font-face {
  font-family: "Wildy-Sans";
  src: url("../assets/fontes/Wildy-Sans.ttf");
}

/*font-family: "Autopilot";*/
body {
  font-family: font-family: 'Vesper Libre', serif;
}

header {
  text-align: right;

  padding-bottom: 30px;
}

.esconder {
  display: none;
}