:root {
  box-sizing: border-box;

  --bg-header: rgba(56, 72, 93, 0.75);

  --fonte-nome: "Alice", serif;
  --fonte-data: "Open Sans", sans-serif;
  --fonte-nav: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Autopilot";
  src: url("../assets/fontes/Autopilot.ttf");
}

@font-face {
  font-family: "Open Sans;";
  src: url("../assets/fontes/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Alice";
  src:  url("../assets/fontes/Alice-Regular.ttf");
}

@font-face {
  font-family: "Cinzel";
  src:  url("../assets/fontes/Cinzel-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Vesper Libre";
  src: url("../assets/fontes/VesperLibre-Regular.ttf");
}

@font-face {
  font-family: "Wildy-Sans";
  src: url("../assets/fontes/Wildy-Sans.ttf");
}

body {
  font-family: "Vesper Libre", serif;
}

.esconder {
  display: none;
}