.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	position: absolute;
	top: 12px;
	right: 1px;
	left: 1px;
}

.cabecalho__home {
	font-family: var(--fonte-nome);	

	font-size: 2.4rem;

	margin-left: 0.5rem;
}

.cabecalho__navegacao {
	display: flex;
	flex-wrap: wrap;
}

.menu__botao {
	background-color: transparent;

	margin-right: 0.5rem;
	border: 0;
}

.botao__icone--hamburguer, .botao__icone--fecha {
	height: 2rem;
	width: 2rem;
}

.cabecalho__menu--hamburguer {
	display: none;
	flex-direction: column;
	justify-content: center;
	
	position: absolute;
	top: 3.5rem;
	right: 15px;
	left: 15px;
	z-index: 10;

	font-family: var(--fonte-nav);
	font-size: 1.4rem;

	text-align: center;

	padding: 20px 40px;

	border-radius: 8px;

	background-color: var(--bg-hamburguer);
}

.menu__item--hamburguer {
	padding-top: 15px;
	padding-bottom: 15px;
}

.menu__item--hamburguer a:link,
.menu__item--hamburguer a:visited,
.menu__item--hamburguer a:active {
	color: var(--texto-hamburguer);
}

.cabecalho__menu--desktop {
	display: none;
}

@media screen and (min-width: 1024px) {
	.menu__botao {
		display: none;
	}

	.cabecalho__menu--desktop {
		display: flex;

		padding-right: 10vw;
	}

	.menu__item--desktop:not(:last-child):after {
		content: "|";

		padding-right: 1rem;
		padding-left: 1rem;
	}

	.menu__item--desktop {
		font-family: var(--fonte-nav);
		font-size: 1rem;

		text-transform: uppercase;
	}

	.menu__item--desktop a:link,
	.menu__item--desktop a:visited,
	.menu__item--desktop a:active {
		color: var(--preto);
	}
}