.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	position: absolute;
	top: 12px;
	right: 1px;
	left: 1px;
}

.cabecalho__home {
	font-family: var(--fonte-nome);	

	font-size: 2.4rem;

	margin-left: 0.5rem;
}

.cabecalho__navegacao {
	display: flex;
	flex-wrap: wrap;
}

.menu__botao {
	background-color: transparent;

	margin-right: 0.5rem;
	border: 0;
}

.botao__icone--hamburguer, .botao__icone--fecha {
	height: 2rem;
	width: 2rem;
}

.cabecalho__menu--hamburguer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	position: absolute;
	top: 3.5rem;
	right: 15px;
	left: 15px;
	z-index: 10;

	font-family: var(--fonte-nav);
	font-size: 1.4rem;

	text-align: center;

	padding: 20px 40px;

	border-radius: 8px;

	background-color: #3a4666;
}

.menu__item--hamburguer {
	padding-top: 15px;
	padding-bottom: 15px;
}
