.cabecalho {
	display: flex;
	justify-content: space-between;

	position: absolute;
	top: 20px;
	right: 20px;
	left: 20px;

	font-family: var(--fonte-nome);	

	padding-right: 1.5rem;
	padding-left: .5rem;
}

.cabecalho__navegacao {
	display: flex;
	flex-wrap: wrap;
}

.menu__botao {
	background-color: transparent;

	border: 0;
	padding: 0;
}

.cabecalho__menu--hamburguer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	position: absolute;
	top: 2.2rem;
	right: 1rem;
	left: 1rem;
	z-index: 10;

	padding: 20px 0 20px 40px;

	border-radius: 8px;

	background-color: #3a4666;
}