.cronometro {
	background-color: var(--branco);

	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.cronometro__titulo {
	font-size: 1.4rem;

	text-align: center;

	padding-right: 10px;
	padding-left: 10px;
}

.