/*
.header {
	display: flex;
	justify-content: space-between;

	width: 100vw;
	height: 350px;

	background-color: var(--bg-header);
}

.header a:link, .header a:visited, .header a:active {
	text-decoration: none;
}

.header__texto a, .header__texto--titulo {
	font-family: var(--fonte-nome);
}

.header__texto {
	width: 50vw;
	margin-top: clamp(10px, 15px, 20px);

	color: white;
}

.header__texto--sigla {
	font-size: 2.5vw;

	text-align: left;

	color: white;

	padding-left: 2vw;
}

.header__texto--nomes {
	font-size: 2rem;

	letter-spacing: 3px;
	line-height: 1.5;

	text-transform: uppercase;
	text-align: right;

	padding-top: 2%;
	padding-right: 4vw;
	padding-bottom: 3vw;
}

.header__texto--data {
	font-family: var(--fonte-data);
	font-size: 1.6vw;

	text-transform: uppercase;
	text-align: right;

	padding-right: 3vw;
}

/*
.header__foto {
	background-image: url("../assets/img/laisse-e-andre.png");
	background-size: cover;
	background-position: center top;

	width: 50vw;
}
*/