.header {
	display: flex;
	justify-content: space-between;

	width: 100vw;
	height: 100vh;

	background-color: var(--bg-header);
}

.header a:link, .header a:visited, .heade a:active {
	text-decoration: none;
}

.header__texto {
	width: 50vw;
	margin-top: 2vh;

	color: white;
}

.header__texto a, .header__texto--titulo {
	font-family: var(--fonte-nome);
}

.header__texto a {
	font-size: 2.5vw;

	text-align: left;

	color: white;

	padding-left: 2vw;
}

.header__texto--titulo {
	font-size: 4vw;

	letter-spacing: 3px;
	line-height: 1.5;

	text-transform: uppercase;
	text-align: right;

	padding-top: 30vh;
	padding-right: 10vw;
	padding-bottom: 8vh;
}

.header__texto--data {
	font-family: var(--fonte-data);
	font-size: 1.6vw;

	text-transform: uppercase;
	text-align: right;

	padding-right: 8vw;
}

.header__foto {
	background-image: url("../assets/img/laisse-e-andre.png");
	width: 50vw;
}