.noivos {
	display: flex;
	flex-direction: column;

	margin-top: 4rem;
}


.noivos__foto {	
	width: 80vw;
	
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.noivos__nomes {
	font-family: var(--fonte-nome);
	font-size: 2rem;

	text-align: center;

	color: var(--branco);

	line-height: 1;

	padding: 20px;
}

.noivos__data, .noivos__texto {
	font-family: var(--fonte-data);

	text-align: center;
	text-transform: uppercase;

	color: var(--branco);

	padding: 10px;
}

.noivos__texto {
	font-size: 1.1rem;

	letter-spacing: 5px;
}

.noivos__data {
	font-size: 1rem;
}

@media screen and (min-width: 1024px) {
	
}