.body__presentes {
	background: #f1f1f1;
}

#cabecalho {
	position: static;
	margin-top: 12px;
}

#cabecalho__menu--hamburguer {
	background: #8c8c8c;
}

#cabecalho__home {
	color:  var(--preto);
}

.presentes__titulo {
	font-size: 1.8rem;
	color: var(--preto);
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: var(--fonte-titulo);
}

.presentes__cards {
	display: flex;
	flex-wrap: wrap;
}

.cards__template {
	width: 250px;
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: 250px 90px 40px;
	grid-template-areas: "imagem" "texto" "preco";
	border: 2px solid #e8e8e8;
	border-radius: 8px;
	background: #fafafa;
	margin: 10px auto;
	padding: 5px;
}

.cards__template--imagem {
	grid-area: imagem;
	max-width: 100%;
}

.cards__template--titulo, .cards__template--preco {
	font-family: var(--fonte-presentes);
	text-align: center;
}

.cards__template--titulo {
	grid-area: texto;	
	font-size: 1.2rem;
}

.cards__template--preco {
	grid-area: preco;
	font-size: 1.1rem;
	font-weight: bold;
}

.cards__template--botao {
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: var(--azul);
	color: var(--branco);
	width: 200px;
	height: 16px;
	padding: 10px;
	margin: 10px auto;
	text-align: center;	
}

.cards__template--botao:active {
	transform: scale(.96);
}

